# Archivos generados
*.apk
*.ap_
*.aab

# Archivos de build
/build/
/app/build/
/.gradle/

# Archivos locales de configuración
local.properties

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de Android Studio
.idea/
*.iml

# Capturas y temporales
captures/
.externalNativeBuild/

# NDK
.cxx/

# Gradle
.gradle
gradle-app.setting

# Archivos de usuario
*.keystore
*.jks

# Archivos de caché
*.cache